*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	background-color: #6a507b;
}

h1{
	padding: 20px 20px;
	text-align: center;
	background-color: #6a507b;
	color: #ffffff;
	font-size: 80px;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.gendeer{

	display: inline;
	font-size: 14px;
}
form{
	max-width: 400px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	background-color: #ffffff;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
	color: #333;
	display: flex;
	flex-direction: column;
}

form h3{
	margin-bottom: 40px;
	border-bottom: thin solid #d4d4d4;
	padding-bottom: 10px;
}

form input, form textarea {
	padding: 15px;
	margin-bottom: 30px;
	font-size: 18px;
	border-radius: 10px;
	border: thin solid #d4d4d4;
}


form label{
	display: inline-block;
	padding-bottom: 10px;
	padding-left: 7px;
}

form textarea{
	min-height: 150px;
	padding: 10px;
}

form input[type=submit]{
	cursor: pointer;
	transition: color 0.3s, background-color 0.3s;
	background-color: #f3e7fa;
}

form input[type=submit]:hover{
	background-color: #6a507b;
	color: #fff;
}

form input:focus,
form textarea:focus{
	outline: none;
}

.success{
	color: green;
}

.error{
	color: red;
}


h2{
	text-align: center;
	color: #fff;
	padding: 10px 0;
	font-size: 32px;
	line-height: 52px;
	background-color: #6a507b;
	padding: 10px;
}

table{
	width:  1000px;
	margin: 50px auto;	
		background-color: #6a507b;
		
}

table th{
	padding: 10px 0;
	color: #fff;
	border-radius: 10%;
	background-color: #2d173b;
}

table td{
	padding: 10px;
	border:  thin solid #000000;
	width: 18%;
	text-align: center;
	background-color: #f4f4f4;
	
}

table img{
	width:  70%;
}

table td.total-price{
	font-weight: bold;
	font-size: 22px;
}
table a{
	text-decoration: none;
	color: darkred;
	background-color: #ffecef;
	padding: 10px 15px;
}
table a:active{
	background-color: #6a507b;
	color:  green;
}

table select{
	padding: 10px;
	width:  200px;
	font-size: 16px;
}
table select:focus{
	outline: none;
}




